form textarea {
	width: 660px;
}

#Container {
	margin-left: -400px;
	width:800px;
	height:314px;
}

#repeater-left {
	height:191px;
	background-image:url("../images/small/repeater_sprite.png");
}

#repeater-right {
	height:191px;
	background-image:url("../images/small/repeater_sprite.png");
	background-position: 0 -191px;
}

#repeater-shade {
	top:191px;
	height:99px;
	background-image:url("../images/small/repeater_sprite.png");
	background-position: 0 -382px;
}

#header {
	width:796px;
	height:191px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: 0px 0px;
}

#left-shade {
	top:191px;
	width:40px;
	height:99px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -722px -193px;
}

#left-menu {
	left:40px;
	top:191px;
	width:303px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -1px -246px;
}

#Button-1 {
	left:343px;
	top:191px;
}

#Button-1 a 
{
	background-image:url(../images/small/layout_sprite.png);
	background-position: -1px -193px;
}

#Button-2 {
	left:444px;
	top:191px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -104px -193px;
}

#Button-3 {
	left:545px;
	top:191px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -207px -193px;
}

#Button-4 {
	position:absolute;
	left:646px;
	top:191px;
	width:101px;
	height:25px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -310px -193px;
}

#right-menu {
	left:747px;
	top:191px;
	width:12px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -309px -246px;
}

#right-shade {
	left:759px;
	top:191px;
	width:40px;
	height:99px;
	background-image:url(../images/small/layout_sprite.png);
	background-position: -763px -193px;
}

#text-container1 {
	left: 40px;
	top: 215px;
	width: 719px;
}

#textbox {
	margin:0 17px;
}

#Oops p {
	right: 110px;
}

#footer {
	width:719px;
	height:9px;
	background-image: url(../images/small/layout_sprite.png);
	background-position: -1px -220px;
	background-repeat: no-repeat;
}

#sidebar {
	margin-left: 480px;
}

.narrowcolumn {
	width: 410px;
}