#repeater-left,#repeater-right,#repeater-shade,#header,#left-shade,#left-menu,#Button-1,#Button-2,#Button-3,#Button-4,#right-menu,#right-shade,#footer,#sidebar,.cleaner,.pdfIcon,h3#comments,div.navigation,ol.commentlist,div#respond,#LanguageSelector,#editLink{display:none;}
#Container{margin-left:0;width:100%;height:100%;top:0;left:0;}
.widecolumn,.narrowcolumn{width:100%;height:100%;}
#text-container1{position:static;}
#text-container2{background:#FFF;}
#textbox{background:transparent;font-family:Calibri, Verdana, Arial, Helvetica, sans-serif;border:0;text-align:justify;color:#414754;font-size:90%;width:100%;margin:0;padding:0;}
a img{border:0;}
a{outline:none;color:#414754;text-decoration:none;}
td{border-top:solid #5C92B5 1pt;}
.CV_table{width:100%;color:#406E8C;border-top:solid #5C92B5 1pt;border-bottom:solid #5C92B5 1pt;border-left:none;border-right:none;border-collapse:collapse;}
.CV_table a{color:#406E8C;}
.Title{font-size:18pt;color:#325F64;font-weight:700;}
tr{height:2em;}
.uneven{background:#D6E3EC;}
.knowledge td{width:50%;padding-left:3em;}
.top{font-size:12pt;height:3em;font-weight:700;}
.top td{border-bottom:solid #5C92B5 1pt;padding-left:0;}
.indent{padding-left:2em;}
.indent > ul{padding-left:3em;position:relative;top:-1em;}
.center{text-align:center;}
.left{text-align:left;}
.rightTable{text-align:right;padding-right:3em;width:25%;font-weight:700;}
.leftTable{text-align:left;padding-right:3em;width:75%;}
.bold{font-weight:700;}
.CV_Header{background-image:url(../images/cv_header.png);background-repeat:no-repeat;background-position:right;height:72px;}
.CV_Header h1{color:#325F64;position:relative;top:30%;left:.3em;}
.CV_Repeater{background-image:url(../images/cv_repeater.png);background-repeat:repeat-x;}
a:link,a:visited,a:hover,a:active{color:#2e333e;text-decoration:none;}
a:link:after, a:visited:after { content:" [ " attr(href) " ] "; }